<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<div th:if="${user}">
    <table class="table-sub-heading-color", border="3">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.geteMail()}"></td>
            <td th:text="${user.getAge()}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <input type="button" value="Logout"
           onclick='location.href="/logout"'>
</div>
</form>
</body>
</html>